<h2><%=@groupclass.name%></h2>
<%instructor = Instructor.find(@groupclass.instructor_id)%>
<h4>Instructor: <%=instructor.name%></h4>
<h4>Maximum students: <%=@groupclass.max_students%></h4>
<h4>Currently signed up <%=@groupclass.students.size%> students </h4>
<h4>Spots available: <%=@groupclass.spots_available%>
<br><br>

<%if is_instructor? && current_user==instructor%>
    <a class="btn btn-primary" href="/groupclasses/<%=@groupclass.id%>/edit">Edit Class</a><br>
    <br>
    <form method="POST" action="/groupclasses/<%=@groupclass.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete" />
        <input class="btn btn-primary" type='submit' value='Delete'>
    </form>
<%elsif @groupclass.students.include?(current_user)%>
    <form method="POST" action="/groupclasses/<%=@groupclass.id%>/cancel">
        <input id="hidden" type="hidden" name="_method" value="patch" />
        <input type='submit' value='Cancel'>
    </form>
<%elsif @groupclass.spots_available>0%>
    <form method="POST" action="/groupclasses/<%=@groupclass.id%>/signup">
        <input id="hidden" type="hidden" name="_method" value="patch" />
        <input type='submit' value='Sign Up'>
    </form>
<%end%>
